

h1 {background:blue;
    color:white}

.description{
    border: 2px solid orange;
    broder-radius: 5px;
    font-size: 24px;
    padding: 20px;
    margin-top: 250px;
    margin-left: 250px;
    text-shadow: 2px 2px 2px green;
}

.task_5{
    border: 2px solid red;
    broder-radius: 5px;
    font-size: 24px;
    padding: 20px;
    font-style: oblique;
    text-align: center;
}